@import "tailwindcss";


@theme {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F4F4F5;
    --color-accent: #1D4ED8;
    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
}