<div class="bg-white border border-gray-200 rounded-md p-6 flex flex-col sm:flex-row gap-6 items-start">
    <img
            id="country-flag"
            src=""
            alt=""
            class="w-36 h-auto border border-gray-200  object-cover"
    />
    <div class="flex-1">
        <h2 id="country-name" class="text-2xl font-bold text-gray-900 leading-tight"></h2>

        <div class="grid grid-cols-2  gap-x-6 gap-y-2 text-sm pt-4">
            <span class="text-gray-400 font-medium">Official Name</span>
            <span id="country-official" class="text-gray-800 font-semibold"></span>

            <span class="text-gray-400 font-medium">Capital</span>
            <span id="country-capital" class="text-gray-800 font-semibold"></span>

            <span class="text-gray-400 font-medium">Region</span>
            <span id="country-region" class="text-gray-800 font-semibold"></span>

            <span class="text-gray-400 font-medium">Subregion</span>
            <span id="country-subregion" class="text-gray-800 font-semibold"></span>

            <span class="text-gray-400 font-medium">Population</span>
            <span id="country-population" class="text-gray-800 font-semibold"></span>
        </div>
    </div>
</div>